h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link-button {
  border: none;
  width: 160px;
  height: 56px;
  background-color: #ef233c;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 7px;
  font-family: "Inter";
}

.link-button:hover {
  background-color: hsla(353, 86%, 54%, 0.9);
  cursor: pointer;
}

main h2 {
  font-size: 45px;
  font-weight: bold;
  color: #121212;
}

main p {
  font-size: 18px;
  font-weight: normal;
  color: #707070;
}

img {
  width: 100%;
  object-fit: contain;
}

/* hero-section start */

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-image: url(./images/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  margin-bottom: 130px;
}

.margin-div {
  margin-bottom: 25px;
}

.header h1 {
  color: #fff;
  font-size: 55px;
  font-weight: bold;
}

.header p {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

.hero-side-section-text {
  width: 600px;
  margin-top: 180px;
  margin-left: 200px;
}

/* hero-section end */

/* article section start */
.articles {
  height: 600px;
  display: flex;
  justify-content: center;
}
.article {
  width: 500px;
  height: 400px;
  margin: 0 30px;
}

.article button {
  width: 168px;
}

.video-icon {
  position: absolute;
  top: 200px;
  right: 220px;
  width: 100px;
}

.article-relative {
  position: relative;
}

/* article section end */

/* Helps section start */

.help-heading {
  width: 750px;
  margin-bottom: 30px;
  text-align: center;
}

.helps-headings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* help section card */

.cards-article {
  margin-bottom: 130px;
}

.cards {
  display: flex;
  justify-content: center;
}

.card {
  width: 461px;
  height: 225px;
  display: flex;
  padding: 30px;
  background-color: #fef4f5;
  border-radius: 10px;
  margin: 10px 10px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.card-text {
  width: 80%;
  margin-left: 20px;
}

/* Helps section end */

/* Image Gallery section start*/
.images-gallery {
  margin-bottom: 130px;
}
.images {
  display: flex;
  justify-content: center;
}

.image {
  margin-left: 20px;
}

/* Image Gallery section end*/

/* Zakat fund start */
.zakat-section {
  margin-bottom: 130px;
}

.new-card {
  flex-direction: column;
  width: 350px;
  height: 481px;
  padding: 0;
  background-color: #fff;
  border: 1px solid lightgrey;
}

.new-card-text {
  width: 90%;
}

.new-card-text a {
  text-decoration: none;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  color: #ef233c;
  border-bottom: 2px solid #ef233c;
}

/* Zakat fund end */

/* footer start */
footer {
  height: 177px;
  background-color: #222;
  text-align: center;
}

.padding-div {
  padding-top: 30px;
}

.footer h2 {
  font-family: "Lobster", cursive;
  font-size: 36px;
  font-weight: normal;
  color: #ef233c;
}

.footer p {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  color: #d9dbe1;
}
/* footer end */
